@model studentModules.Models.study

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>study</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModuleCode" class="control-label"></label>
                <input asp-for="ModuleCode" class="form-control" />
                <span asp-validation-for="ModuleCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursSpecificModule" class="control-label"></label>
                <input asp-for="HoursSpecificModule" class="form-control" />
                <span asp-validation-for="HoursSpecificModule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TodayDate" class="control-label"></label>
                <input asp-for="TodayDate" class="form-control" />
                <span asp-validation-for="TodayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
